@tailwind base;
@tailwind components;
@tailwind utilities;
/* styles/globals.css */
@font-face {
  font-family: "Nico Moji";
  src: url("/NicoMoji-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Nikukyu";
  src: url("/Nikukyu-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Nikukyu", sans-serif;
  letter-spacing: 2px;
  background-image: url("/images/topo-bg.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover; /* or contain, depending on your design needs */
}
